body{
    background:url(../images/agriculture-backlit-brown-2827609.jpg) no-repeat center center fixed;
    background-size:cover;
    margin:0;
    padding:0;
    
    
}
.box{
    width:500px;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:transparent;
    text-align:center;
}
::placeholder{
    color:white;
    opacity:0.94;
    font-family: 'Ropa Sans', sans-serif;
}
.box h1{
    color:white;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 100px;;
}
.box input[type = "text"], .box input[type="password"]{
    border:0;
    background:none;
    display:block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding:14px 10px;
    width:200px;
    outline:none;
    color:white;
    border-radius:24px;transition:0.25s;
}
.box input[type="submit"]{
    border:0;
    background:none;
    display:block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding:14px 40px;
    outline:none;
    color:white;
    border-radius:24px;
    transition:0.25s;
    cursor:pointer;

}
select{
    background-color:transperent;
}
.box input[type="text"]:focus,.box input[type="password"]:focus{
    width:280px;
    border-color:#2ecc71;
}
.box input[type="submit"]:hover{
    background:#2ecc71;
    border:none;
}
.a{
    border:#3498db;
    color:white;

}
.dropdown-menu input:checked{
    height:40px;
    width:40px;
    
}