body{
    /* background-color: #2e2e2e; */
    
    margin:0;
    padding: 0;
    background: url(../images/agriculture-architecture-wind-turbine-2100253.jpg) no-repeat center center fixed;
    background-size: cover;
    /* font-family: 'Roboto', sans-serif; */

}
h2{
    color:rgb(113, 163, 20);
    
}
p{
    color:white;
}
ul li{
    color:white;
}
div{
    /* border: 9px solid #2e2e2e; */
    font-family: 'Grenze', serif;
}
nav{
    font-family: 'Big Shoulders Display', cursive;
    /* background:transparent; */
}
.navlink{
    border-radius: 24px;
}
hr{
    
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}